<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title | default: site.title }}</title>
     <style>
        body {max-width: 80%; margin: 2rem auto;}
        hr {margin: 1.5rem auto;}
        thead:empty, thead th:empty {display: none;}
        code{font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;}
    </style>

    {% if page.custom_css %}
    <style>
        {{ page.custom_css | strip_newlines }}
    </style>
    {% endif %}
</head>
<body>
    {{ content }}
</body>
</html>